.todo-container {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
}

.add-item {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    padding: 0;
    margin-top: 20px;
}

li {
    list-style: none;
     font-size: 24;
     font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color:darkred;
}
.is-done
{
    text-decoration: line-through;
     color:green;
}
.task-counter
{
    margin-top:20px;
    font-weight: bold;
}