
<div class="todo-container">
     <h2>Todo List</h2>
   <div class="add-item">

    <input type="text" [formControl]="itemControl" placeholder="Enter an item" (keyup.enter)="addItem()">

<button type="button"  (click)="addItem()">add</button>
</div>

<ul>
   <li *ngFor="let item of items"  [class.is-done]=" item.completed" (click)="toggleItem(item)">
     {{item.name}}
</li>

</ul>
  <div class="task-counter"> 
    {{remainingCount}} remaining out of {{items.length}} tasks
</div>
</div>






<router-outlet></router-outlet>